:root {
    --react-international-phone-border-radius:0;
    --react-international-phone-font-size:14px;
    --react-international-phone-flag-width:22px;
    --react-international-phone-flag-height:14px;
    --react-international-phone-height:20px;
    --react-international-phone-border-color:#CACACA;
    --react-international-phone-country-selector-border-color:#CACACA;
    
}
.react-international-phone-input-container .react-international-phone-country-selector {
    position: relative;
    margin-bottom:0;
}


.react-international-phone-country-selector-button {
    display: flex;
    height: var(--react-international-phone-height, 36px);
    width: 38px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid var(--react-international-phone-country-selector-border-color, var(--react-international-phone-border-color, gainsboro));
    margin: 0;
    appearance: button;
    -webkit-appearance: button;
    background-color: var(--react-international-phone-country-selector-background-color, var(--react-international-phone-background-color, white));
    cursor: pointer;
    text-transform: none;
    user-select: none
}



.modal form div .react-international-phone-country-selector-button__button-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}



.react-international-phone-country-selector-button__dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -50%; 
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 4px;
    /*border-top: var(--react-international-phone-country-selector-arrow-size, 4px) solid var(--react-international-phone-country-selector-arrow-color, #555);*/
    /*border-right: var(--react-international-phone-country-selector-arrow-size, 4px) solid transparent;*/
    /*border-left: var(--react-international-phone-country-selector-arrow-size, 4px) solid transparent;*/
    /*margin-right: 4px;*/
    transition: all .1s ease-out
}


.react-international-phone-country-selector-button__button-content img{
    width: var(--react-international-phone-flag-width, 24px);
    height: var(--react-international-phone-flag-height, 24px);
    box-sizing: border-box;
    border-radius: 0;
}

.react-international-phone-flag-emoji{
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 0;
}



.react-international-phone-country-selector-dropdown__list-item-flag-emoji {
    margin-right: 8px;
    margin-left: 8px;
}



.react-international-phone-input-container {
    display: flex;
    width: 200px;
    height: fit-content;
    
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
    border-radius: var(--react-international-phone-border-radius, 4px);
    margin-right: -1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #f5f5f5;
}

